<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.service.mybatis.mapper.LineStationMapper" >
  <resultMap id="BaseResultMap" type="com.wind.service.mybatis.pojo.LineStation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="line_id" property="lineId" jdbcType="BIGINT" />
    <result column="station_id" property="stationId" jdbcType="BIGINT" />
    <result column="index" property="index" jdbcType="INTEGER" />
  </resultMap>
</mapper>